body{
    font-family: Arial, Helvetica, sans-serif;
}
.Container{
    text-align: center;
}
.Calculator-Container{
}
.SwitchMarks-Button{
}
.Calculator-Table{
}
.Calculator-Table Table{
}
.Calculator-Table Table thead {
    background-color: aqua;
}
.Calculator-Table Table tbody {
    background-color: yellow;
}
.Calculator-Table Table tbody tr td input{
    text-align: center;
}
.AddSubjectButton{
}
.AddSubjectButton button{
    background-color: orange;
}