body{
    font-family: Arial, Helvetica, sans-serif;
}
.Container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Calculator-Container{
}
.SwitchMarks-Button{
}
.Calculator-Table{
}
.Calculator-Table Table{
}
.Calculator-Table Table thead {
    background-color: aqua;
}
.Calculator-Table Table tbody {
    background-color: yellow;
}
.Calculator-Table Table tbody tr td input{
    text-align: center;
}
.TwoButtons{
    display: flex;
    justify-content: center;
}
.AddSubjectButton{
}
.AddSubjectButton button{
    background-color: orange;
}
.ResultContainer{
    display: flex;
    justify-content: center;
}
.ResultTable thead tr th{
    background-color: orange;
}
.ResultTable tbody tr td{
    background-color: lightblue;
}
.Rules-Container{
}
.Rules-Container Table{
}
.Rules-Container Table thead{
    background-color: lime;
}
.Rules-Container Table tbody{
    background-color: lightcoral;
}