body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #121212;
}
.Container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Calculator-Container{
}
.SwitchMarks-Button{
}
.Calculator-Table{
}
.Calculator-Table Table{
}
.Calculator-Table Table thead {
    background-color: #3a2d49;
}
.Calculator-Table Table thead tr th{
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000 ,inset 0px 0px 10px #bb86fc;
}
.Calculator-Table Table tbody {
    background-color: #51465f;
}
.Calculator-Table Table tbody tr td{
    border-radius: 8px;
    box-shadow: 0px 0px 10px #000000;
}
.Calculator-Table Table tbody tr td input{
    background-color: #927daa;
    box-shadow: inset 0 0 20px white;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    border: none;
}
.Calculator-Table Table tbody tr td input::placeholder{
    color: black;
}
.DeleteParagraph{
    margin: 0px;
    padding: 10px;
}
.TwoButtons{
    margin: 25px 0px 25px 0px;
    display: flex;
    justify-content: center;
}
.calculate{
    margin-right: 30px;
}
.calculate button{
    font-weight: bold;
    font-size: medium;
    width: 150px;
    background-color: #bb86fc;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 100px #c9bfd5, inset 0px 0px 10px #3b2e4a;
}
.AddSubjectButton{
    margin-left: 30px;
}
.AddSubjectButton button{
    font-weight: bold;
    font-size: medium;
    width: 150px;
    background-color: #bb86fc;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 100px #c9bfd5, inset 0px 0px 10px #3b2e4a;
}
.ResultContainer{
    display: flex;
    justify-content: center;
}
.ResultTable{
    border-radius: 8px;
    box-shadow: 0px 0px 250px #c9bfd5;
}
.ResultTable thead tr th{
    color: #c9bfd5;
    background-color: #19161b;
    padding: 10px;
    border-radius: 8px;
}
.ResultTable tbody tr td{
    color: #c9bfd5;
    background-color: #251f2d;
    padding: 10px;
    border-radius: 8px;
}
.Rules-Container{
    margin-top: 25px;
}
.Rules-Container Table{
}
.Rules-Container Table thead{
    background-color: #3b2e4a;
}
.Rules-Container Table thead tr th{
    padding: 15px;
    border-radius: 8px;
}
.Rules-Container Table tbody{
    background-color: #292929;
}
.Rules-Container Table tbody tr td{
    padding: 15px;
    border-radius: 8px;
    box-shadow: inset 0px 0px 20px #3b2e4a;
}